@model UserAnswerViewModel
@{
    Layout = "/Views/Shared/_LayoutHeaderOnly.cshtml";
}
<head>
    <link rel="shortcut icon" href="/favicon.png" type="image/png">
    <link rel="stylesheet" href="/styles/add-census.css">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
</head>
<body>
    <div class="container-fluid px-1 py-5 mx-auto main-container">
        <div class="row d-flex justify-content-center">
            <div class="col-xl-9 col-lg-11 col-md-11 col-11 text-center">
                <div class="card shadow-lg">
                    <h5 class="text-center mb-4 title">Перепись населения в Екатеринбурге </h5>
                    <form class="form-card" method="POST">
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label asp-for="PlaceBirth" class="form-control-label"></label>
                                <input asp-for="PlaceBirth" placeholder="Укажите город">
                                <span asp-validation-for="PlaceBirth" class="text-danger"></span>
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <div class="input-group">
                                    <label asp-for="Gender" class="form-control-label col-md-12 px-0"></label>
                                    <div class="p-t-10">
                                        <label class="radio-container">
                                            Женщина
                                            <input onchange="genderEnable(YearBirthFirstChild,NumberChildrenBorn)" value="True" asp-for="Gender" id="female" checked type="radio">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="radio-container radio-container--right">
                                            Мужчина
                                            <input onchange="elementDisabled(YearBirthFirstChild, NumberChildrenBorn)" value="False" asp-for="Gender" id="male" type="radio">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label asp-for="NativeLanguage" class="form-control-label"></label>
                                <input asp-for="NativeLanguage">
                                <span asp-validation-for="NativeLanguage" class="text-danger"></span>
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label asp-for="NumberChildrenBorn" class="form-control-label"></label>
                                <input asp-for="NumberChildrenBorn" type="number" placeholder="0 если не было детей">
                                <span asp-validation-for="NumberChildrenBorn" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label asp-for="Education" class="form-control-label"></label>
                                <select asp-for="Education">
                                    <option>Отсутствует</option>
                                    <option>Общее</option>
                                    <option>Средне профессиональное</option>
                                    <option>Высшее</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label asp-for="Nationality" class="form-control-label"></label>
                                <input asp-for="Nationality">
                                <span asp-validation-for="Nationality" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label asp-for="Citizenship" class="form-control-label"></label>
                                <input asp-for="Citizenship">
                                <span asp-validation-for="Citizenship" class="text-danger"></span>           
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label asp-for="MaritalStatus" class="form-control-label"></label>
                                <select asp-for="MaritalStatus">
                                    <option>В зарегистрированном браке</option>
                                    <option>В незарегистрированном супружеском союзе</option>
                                    <option>Офицально разведён(а)</option>
                                    <option>Разошёлся(лась)</option>
                                    <option>Вдовец вдова</option>
                                    <option selected>Никогда не состоял(а) в браке, супружеском союзе</option>
                                </select>                              
                            </div>
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label asp-for="CountPeopleLivingHousehold" class="form-control-label"></label>
                                <input id="CountPeopleLivingHousehold" asp-for="CountPeopleLivingHousehold" placeholder="0 если живёте один">
                                <span asp-validation-for="CountPeopleLivingHousehold" class="text-danger"></span>                             
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label asp-for="GettingEducation" class="form-control-label"></label>
                                <select asp-for="GettingEducation">
                                    <option>Не получаю образование </option>
                                    <option>Основные профессиональные программы</option>
                                    <option>Дополнительные образовательные программы</option>
                                    <option>Программы общего образования</option>
                                </select>                             
                            </div>
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label asp-for="SourcesOfLiveliHood" class="form-control-label"></label>
                                <select asp-for="SourcesOfLiveliHood">
                                    <option>Не имею источник средств к существованию</option>
                                    <option>Заработная плата</option>
                                    <option>Предпринимательский доход, самозанятость</option>
                                    <option>Производство товаров для собственного использования</option>
                                    <option>Сдача в аренду имущества</option>
                                    <option>Доход от патентов, авторских прав</option>
                                    <option>Сбережения, дивиденды, проценты, ссуды, реализация капитала</option>
                                    <option>Пенсия (кроме пенсии по инвалидности)</option>
                                    <option>Пенсия по инвалидности</option>
                                    <option>Стипендия</option>
                                    <option>Пособие по безработице</option>
                                    <option>Другие пособия и выппаты от организаций, государства</option>
                                    <option>Льготы, компенсации, субсидии, выигрыши</option>
                                    <option>Обеспечение со стороны других лиц, иждивение иной источник</option>
                                    <option>Иной источник</option>
                                </select>                     
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <div class="input-group">
                                    <label asp-for="HaveWorkedRecently" class="form-control-label col-md-12 px-0"></label>
                                    <div class="p-t-10">
                                        <label class="radio-container">
                                            Нет
                                            <input onchange="elementDisabled(WhoWereMainJob)" value="False" asp-for="HaveWorkedRecently" type="radio">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="radio-container radio-container--right">
                                            Да
                                            <input onchange="elementEnable(WhoWereMainJob)" value="True" checked asp-for="HaveWorkedRecently" type="radio">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>                         
                            </div>
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label asp-for="WhoWereMainJob" class="form-control-label"></label>
                                <select asp-for="WhoWereMainJob">
                                    <option>Работающий по найму</option>
                                    <option>Владелец (совладелец) собственного предприятия (дела) </option>
                                    <option>Индивидуальный предприниматель</option>
                                    <option>Самозанятый</option>
                                    <option>Помогающий на семейном предприятии</option>
                                    <option>Иное</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex">                             
                                <label asp-for="TypeOfDwelling" class="form-control-label"></label>
                                <select asp-for="TypeOfDwelling">
                                    <option>Индивидуальный дом</option>
                                    <option>Общежитие</option>
                                    <option>Отдельная квартира</option>
                                    <option>Гостиница</option>
                                    <option>Коммунальная квартира</option>
                                    <option>Другое жилище</option>
                                    <option>Бездомный</option>
                                </select>
                            </div>
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label asp-for="Heating" class="form-control-label"></label>
                                <select asp-for="Heating">
                                    <option>Централизованное</option>
                                    <option>От индивидуальных установок, котлов</option>
                                    <option>Печное</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label asp-for="WaterSupply" class="form-control-label"></label>
                                <select asp-for="WaterSupply">
                                    <option>Централизонаннам система холодного водоснабжения</option>
                                    <option>Индивидуальная система водоснабжения</option>
                                    <option>Водоснабжение вне жилица, колонка</option>
                                    <option>Колодец, скважина или другой источник водоснабжения</option>
                                </select>                             
                            </div>
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label asp-for="HotWaterSupply" class="form-control-label"></label>
                                <select asp-for="HotWaterSupply">
                                    <option>Централизованное</option>
                                    <option>От индивидуальных водонагревателей</option>
                                    <option>Горячее водоснабжение отсутствует</option>
                                </select>             
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label asp-for="WaterDisposalSewerage" class="form-control-label"></label>
                                <select asp-for="WaterDisposalSewerage">
                                    <option>Централизованная система</option>
                                    <option>Индивидуальная система (включая септик)</option>
                                    <option>Через систему труб выгребные ямы и т.п.</option>
                                    <option>Водоотведение (канализация) отсутствует</option>
                                </select>
                            </div>
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label asp-for="DisposalOfHouseholdWaste" class="form-control-label"></label>
                                <select asp-for="DisposalOfHouseholdWaste">
                                    <option>Мусоропровод</option>
                                    <option>Мусоросборники вне дома</option>
                                    <option>Сбор мусора спецмашиной</option>
                                    <option>Выброс мусора в ямы, на кучи и т.п.</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex">                           
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="form-group col-sm-6">
                                <div class="text-danger" asp-validation-summary="None">@ViewBag.modelError</div>
                                <button type="submit" class="btn-block main-btn btn-primary">Отправить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        function elementDisabled(nameElement1) {
            nameElement1.value = "";
            nameElement1.placeholder = "";
            nameElement1.disabled = true;

        }

        function elementEnable(nameElement1) {
            nameElement1.disabled = false;
            nameElement1.value = "Работающий по найму";

        }

    </script>
</body>