@model ResidentViewModel
@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
   <link rel="shortcut icon" href="/favicon.png" type="image/png">
   <link rel="stylesheet" href="/styles/add-census.css">
   <meta name="viewport" content="width=device-width" />

</head>
<body>
   <div class="resident-form">
      <form class="m-1 p-1" method="post">
         <h2>Добавление жителя</h2>
         <div class="form-group">
            <label  asp-for="FullName"></label>
            <input class="form-control" asp-for="FullName" />
            <span asp-validation-for="FullName" class="text-danger"></span>
         </div>
         <div class="form-group">
            <label asp-for="DateOfBirth"></label>
            <input class="form-control" asp-for="DateOfBirth" />
            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
         </div>
         <h2>Добавление адресса жителя</h2>
        <div class="form-group">
            <label asp-for="State"></label>
            <input asp-for="State" class="form-control" />
            <span asp-validation-for="State" class="text-danger"></span>
        </div>
          <div class="form-group">
            <label asp-for="City"></label>
            <input asp-for="City" class="form-control" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
          <div class="form-group">
            <label asp-for="Street"></label>
            <input asp-for="Street" class="form-control" />
            <span asp-validation-for="Street" class="text-danger"></span>
        </div>
          <div class="form-group">
            <label asp-for="ApartmentNumber"></label>
            <input asp-for="ApartmentNumber" class="form-control" />
            <span asp-validation-for="ApartmentNumber" class="text-danger"></span>
        </div>
          <div class="form-group">
            <label asp-for="ZipCode"></label>
            <input asp-for="ZipCode" class="form-control" />
            <span asp-validation-for="ZipCode" class="text-danger"></span>
        </div>
        <div class="form-group" id="button-submit">
            <input type="submit" value="Сохранить" />
        </div>

      </form>
      <div class="row">
  
   
</div>
   </div>

</body>