@model UserAnswerViewModel
@{
    Layout = "/Views/Shared/_LayoutHeaderOnly.cshtml";
}
<head>
   <link rel="shortcut icon" href="/favicon.png" type="image/png">
   <link rel="stylesheet" href="/styles/add-census.css">
   <meta name="viewport" content="width=device-width" />
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
</head>
<body>
   <div class="container-fluid px-1 py-5 mx-auto main-container">
   <div class="row d-flex justify-content-center">
      <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
         <div class="card shadow-lg">
            <h5 class="text-center mb-4 title">Всероссийская перепись населения </h5>
            <form class="form-card" method="POST">
               <div class="row justify-content-between text-left">
                  <div class="form-group col-sm-6 flex-column d-flex">
                     <label asp-for="PlaceBirth" class="form-control-label"></label> 
                     <input asp-for="PlaceBirth" placeholder="Субъект РФ или иностранного государства"> 
                     <span asp-validation-for="PlaceBirth"  class="text-danger"></span>
                  </div>
                  <div class="form-group col-sm-6 flex-column d-flex">
                     <div class="input-group">
                        <label asp-for="Gender" class="form-control-label col-md-12 px-0"></label> 
                        <div id="radio-buttons-gender" class="p-t-10">
                           <label  class="radio-container">Женщина
                           <input onchange="genderEnable(YearBirthFirstChild,NumberChildrenBorn)" value="True" asp-for="Gender" id="female" checked type="radio">
                           <span class="checkmark"></span>
                           </label>
                           <label class="radio-container radio-container--right">Мужчина
                           <input onchange="elementDisabled(YearBirthFirstChild, NumberChildrenBorn)" value="False" asp-for="Gender" id="male" type="radio">
                           <span class="checkmark"></span>
                           </label>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row justify-content-between text-left">
                  <div class="form-group col-sm-6 flex-column d-flex"> 
                     <label asp-for="YearBirthFirstChild" class="form-control-label"></label> 
                     <input  id="YearBirthFirstChild" asp-for="YearBirthFirstChild" placeholder="Оставьте пустым если не было детей"> 
                     <span asp-validation-for="YearBirthFirstChild"  class="text-danger"></span>
                  </div>
                  <div class="form-group col-sm-6 flex-column d-flex"> 
                     <label asp-for="NumberChildrenBorn" class="form-control-label"></label> 
                     <input  asp-for="NumberChildrenBorn" type="number" placeholder="Оставьте пустым если не было детей"> 
                     <span asp-validation-for="NumberChildrenBorn"  class="text-danger"></span>
                  </div>
               </div>
               <div class="row justify-content-between text-left">
                  <div class="form-group col-sm-6 flex-column d-flex"> 
                     <label asp-for="WhereLiveBeforeArriving" class="form-control-label"></label> 
                     <input disabled id="WhereLiveBeforeArriving" asp-for="WhereLiveBeforeArriving"> 
                     <span asp-validation-for="WhereLiveBeforeArriving"  class="text-danger"></span>
                  </div>
                  <div class="form-group col-sm-6 flex-column d-flex">
                     <div class="input-group">
                        <label asp-for="LivedOtherCountries" class="form-control-label col-md-12 px-0"></label> 
                        <div  class="p-t-10">
                           <label  class="radio-container">Нет
                           <input onchange="elementDisabled(YearArrival, WhereLiveBeforeArriving)" value="False" asp-for="LivedOtherCountries" checked  type="radio">
                           <span class="checkmark"></span>
                           </label>
                           <label class="radio-container radio-container--right">Да
                           <input  onchange="elementEnable(YearArrival, WhereLiveBeforeArriving)"  value="True" asp-for="LivedOtherCountries"  type="radio">
                           <span class="checkmark"></span>
                           </label>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row justify-content-between text-left">
                  <div class="form-group col-sm-6 flex-column d-flex"> 
                     <label asp-for="YearArrival" class="form-control-label"></label> 
                     <input disabled id="YearArrival" asp-for="YearArrival"> 
                     <span asp-validation-for="YearArrival"  class="text-danger"></span>
                  </div>
                  <div class="form-group col-sm-6 flex-column d-flex">
                     <div class="input-group">
                        <label asp-for="SpeakRussian" class="form-control-label col-md-12 px-0"></label> 
                        <div  class="p-t-10">
                           <label  class="radio-container">Нет
                           <input  value="False" asp-for="SpeakRussian"  checked type="radio">
                           <span class="checkmark"></span>
                           </label>
                           <label class="radio-container radio-container--right">Да
                           <input  value="True" asp-for="SpeakRussian"  type="radio">
                           <span class="checkmark"></span>
                           </label>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row justify-content-between text-left">
                  <div class="form-group col-sm-6 flex-column d-flex">                 
                     <label asp-for="NativeLanguage" class="form-control-label"></label> 
                     <input asp-for="NativeLanguage"  > 
                     <span asp-validation-for="NativeLanguage"  class="text-danger"></span>
                  </div>
                  <div class="form-group col-sm-6 flex-column d-flex">
                     <div class="input-group">
                        <label asp-for="UseRussianInConversation" class="form-control-label col-md-12 px-0"></label> 
                        <span asp-validation-for="UseRussianInConversation"  class="text-danger"></span>
                        <div  class="p-t-10">
                           <label  class="radio-container">Нет
                           <input  value="False" asp-for="UseRussianInConversation"  checked type="radio">
                           <span class="checkmark"></span>
                           </label>
                           <label class="radio-container radio-container--right">Да
                           <input  value="True" asp-for="UseRussianInConversation"  type="radio">
                           <span class="checkmark"></span>
                           </label>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row justify-content-between text-left">
                  <div class="form-group col-sm-6 flex-column d-flex"> 
                     <label asp-for="Citizenship" class="form-control-label"></label> 
                     <input   asp-for="Citizenship" > 
                     <span asp-validation-for="Citizenship"  class="text-danger"></span>
                  </div>
                  <div class="form-group col-sm-6 flex-column d-flex">
                     <label asp-for="Education" class="form-control-label"></label> 
                     <select asp-for="Education" id="myDropdown">
                        <option>Общее</option>
                        <option>Средне профессиональное</option>
                        <option>Высшеее</option>
                     </select>
                  </div>
               </div>
               <div class="row justify-content-between text-left">
                  <div class="form-group col-sm-6 flex-column d-flex">                 
                     <label asp-for="Nationality" class="form-control-label"></label> 
                     <input asp-for="Nationality"> 
                     <span asp-validation-for="Nationality"  class="text-danger"></span>
                  </div>
                  <div class="form-group col-sm-6 flex-column d-flex">
                     <div class="input-group">
                        <label asp-for="CanReadAndWrite" class="form-control-label col-md-12 px-0"></label> 
                        <span asp-validation-for="CanReadAndWrite"  class="text-danger"></span>
                        <div  class="p-t-10">
                           <label  class="radio-container">Нет
                           <input  value="False" asp-for="CanReadAndWrite"  checked type="radio">
                           <span class="checkmark"></span>
                           </label>
                           <label class="radio-container radio-container--right">Да
                           <input  value="True" asp-for="CanReadAndWrite"  type="radio">
                           <span class="checkmark"></span>
                           </label>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row justify-content-between text-left">
                  <div class="form-group col-sm-6 flex-column d-flex">
                     <label asp-for="MaritalStatus" class="form-control-label"></label> 
                     <select asp-for="MaritalStatus">
                        <option>В зарегистрированном браке</option>
                        <option>В незарегистрированном супружеском союзе</option>
                        <option>Офицально разведён(а)</option>
                        <option>Разошёлся(лась)</option>
                        <option>Вдовец вдова</option>
                        <option>Никогда не состоял(а) в браке, супружеском союзе</option>
                     </select>
                  </div>
                  <div class="form-group col-sm-6 flex-column d-flex">
                     <div class="input-group">
                        <label asp-for="HaveDegree" class="form-control-label col-md-12 px-0"></label> 
                        <span asp-validation-for="HaveDegree"  class="text-danger"></span>
                        <div class="p-t-10">
                           <label  class="radio-container">Не имею
                           <input  value="False" asp-for="HaveDegree"  checked type="radio">
                           <span class="checkmark"></span>
                           </label>
                           <label class="radio-container radio-container--right">Имею
                           <input  value="True" asp-for="HaveDegree"  type="radio">
                           <span class="checkmark"></span>
                           </label>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row justify-content-end">
                  <div class="form-group col-sm-6">
                     <div  class="text-danger" asp-validation-summary="None">@ViewBag.modelError</div>
                     <button type="submit" class="btn-block main-btn btn-primary">Отправить</button> 
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
   <script>
      function elementDisabled(nameElement1,nameElement2) {
        nameElement1.value = "";
        nameElement1.placeholder = "";
        nameElement1.disabled = true;

        nameElement2.value = "";
        nameElement2.placeholder = "";
        nameElement2.disabled = true;
      }
         function genderEnable(nameElement1,nameElement2) {
        nameElement1.disabled = false;
        nameElement1.placeholder = "Оставьте пустым если не было детей";

        nameElement2.disabled = false;
        nameElement2.placeholder = "Укажите ноль если нету";
      }
        function elementEnable(nameElement1,nameElement2) {
        nameElement1.disabled = false;

        nameElement2.disabled = false;
      }
      document.getElementById("myDropdown").selectedIndex = -1;

   </script>
</body>