@using Microsoft.AspNetCore.Http.Extensions;
<!DOCTYPE html>
@{
    var currentUrl = ViewContext.HttpContext.Request.GetDisplayUrl().ToString();
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="/favicon.png" type="image/png">
    <!--====== Animate CSS ======-->
    <link rel="stylesheet" href="/styles/animate.css">
    <!--====== Magnific Popup CSS ======-->
    <link rel="stylesheet" href="/styles/magnific-popup.css">
    <!--====== Slick CSS ======-->
    <link rel="stylesheet" href="/styles/slick.css">
    <!--====== Bootstrap CSS ======-->
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <!--====== Default CSS ======-->
    <link rel="stylesheet" href="/styles/default.css">
    <!--====== Style CSS ======-->
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <header>
        <nav>
            <div class="brand"></div>
            <div class="links"></div>
        </nav>
    </header>
    <main>
        <div class="content">
            @RenderBody()
        </div>
    </main>
    <header class="header_area">
        <div class="header_navbar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar-brand" href="/Census/Index">
                                <span class="funk-tochka-script-font">Перепись населения </span>
                            </a>
                            <button id="qwe" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                <ul id="nav" class="navbar-nav ml-auto">
                                    @if (User.IsInRole("admin"))
                                    {
                                        <li class="nav-item">
                                            <a class="page-scroll" asp-controller="Statistics" asp-action="GraphicsStatistics">Графики</a>
                                        </li>
                                    }
                                    <li class="nav-item">
                                        <a class="page-scroll" href="/Census/Index#contact">Контакты</a>
                                    </li>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <li class="nav-item">
                                            <a class="page-scroll" asp-controller="User" asp-action="Logout">Выйти</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                            @{
                                if (User.IsInRole("admin"))
                                {
                                    <div class="navbar-btn d-none d-sm-inline-block">
                                        <a asp-controller="Census" asp-action="ResultCensus" class="main-btn" data-scroll-nav="0">Результат переписи</a>
                                    </div>
                                }
                                else if (User.IsInRole("client"))
                                {
                                    <div class="navbar-btn d-none d-sm-inline-block">
                                        <a asp-controller="Census" asp-action="AddCensus" class="main-btn" data-scroll-nav="0">Участие в переписи</a>
                                    </div>
                                }
                                else if (!User.Identity.IsAuthenticated)
                                {
                                    <div class="navbar-btn flex-wrap d-sm-inline-block">
                                        <a asp-controller="User" asp-action="Login" class="main-btn" data-scroll-nav="0">Войти в аккаунт</a>
                                    </div>
                                }
                            }
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    @if (currentUrl == "https://localhost:7167/" || currentUrl == "https://localhost:7167/Census/Index")
    {
        <footer id="footer" class="footer_area">
            <div class="footer_subscribe pt-100 pb-65">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="subscribe_title">
                                <h4 class="title">Подпишитесь на рассылку новостей</h4>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="subscribe_form">
                                <form action="#">
                                    <input type="text" placeholder="fvitek@gmail.com">
                                    <button class="main-btn">Подписаться</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_copyright">
                <div class="container">
                    <div class="copyright">
                        <p class="funk-tochka-script-font"> Разработал Фарносов Виктор в 2024</p>
                    </div>
                </div>
            </div>
        </footer>
    }
    else
    {
        <footer id="footer" class="footer_area">
            <div class="footer_copyright">
                <div class="container">
                    <div class="copyright">
                        <p class="funk-tochka-script-font">Разработал Фарносов Виктор в 2024</p>
                    </div>
                </div>
            </div>
        </footer>
    }
</body>
</html>